ion-slide{
    padding: 20px 0px;
    display: block;

    h2{
        font-family: poppins;
        font-size: 20px;
        color: #D02764;

        // font-weight: bold;
    }
}


ion-slides{
    background-color: #ffffff;
}