.sub{
    border-radius: 5px !important;

}


.cover{
    padding: 5%;
    padding-top: 30% !important;
}

.bolde{
    font-size: 150%;
    font-weight: bold;
}

.graph{
    // width: 50% !important;
    color:  #D02764;
}

.wrong{
    font-size: 130% !important;
    color: #5f5a5a;
    font-weight: bold;
}
