<ion-header>
  <ion-toolbar style="padding-right: 5% !important">
    
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-right: 3%;">
      <ion-icon  slot="end" name="search"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"  style="margin-right: 3%;">
      <fa-icon [icon]="['far', 'bell']" slot="end"></fa-icon>
    </ion-buttons>
    <ion-buttons (click)="logout()" slot="end" style="margin-right: 3%;">
      <fa-icon [icon]="['far', 'bell']" slot="end"></fa-icon>
    </ion-buttons>
    
    <ion-title style="text-align: center;">Meetup</ion-title>

  </ion-toolbar>
</ion-header>


<ion-menu side="start" contentId="menuContent">
  <ion-header>
       <ion-toolbar color="primary">
        <ion-title style="font-size: 80%;">
          <fa-icon [icon]="['fas', 'street-view']"></fa-icon>Meetup</ion-title>
       </ion-toolbar>
   </ion-header>
   <ion-content>
      <ion-list>
        
        <ion-item (click)="logout()" 
        style="padding: 0% !important; color: #000000;
         cursor: pointer; font-size: 80%; margin: 0% !important;">
         Logout
         <fa-icon [icon]="['fas', 'sign-out-alt']" slot="end"></fa-icon>
          </ion-item>
      </ion-list>
   </ion-content>
</ion-menu>
<ion-router-outlet id="menuContent"></ion-router-outlet>

<ion-content>

  <div class="searchMe">
    <ion-button style="float: right !important; margin-right: 3% !important; margin-top: 3% !important;"  slot="end" class="cart" (click)="isSearchbarOpened=true">
     
      <fa-icon [icon]="['fas', 'sliders-h']" slot="end"></fa-icon>

    </ion-button>
    <ion-searchbar showCancelButton="focus" class="searchBar" cancelButtonText="X"
    (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false" style="width: 80% !important;"></ion-searchbar>
 
  </div>
    <ion-row>
      <ion-col size="3">
        <ion-button class="butto"  color="secondary">Dress</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="butto"  color="tertiary">Pants</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="butto"  color="tertiary">Blazers</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="butto"  color="tertiary">Jackets</ion-button>
      </ion-col>
    </ion-row>

  <div class="lists">
    <ion-row>
      <ion-col size="6" *ngFor="let product of listAll">
        <div>
          <ion-card (click)="productDetails(product.id)" class="categories"
            style='margin: auto; height: max-content; width: 100%;'>
            <ion-card-content style='padding: 1px;'>
              <div *ngIf="spinner"
                style="z-index: 100; position: fixed; height: 100%; width: 90%; text-align: center; padding-top: 50% !important; opacity: 0.6;">
                <ion-spinner name="Crescent"></ion-spinner>
              </div>
              <img [src]="product.avatar" height="120%" width="130px">
            </ion-card-content>
            <ion-footer style="height: 100% !important; background-color: #ffffff; margin-left: 5px;
             padding-top: 2% !important; padding-bottom: 2% !important;">
              <div style="font-family: Prata;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 19px;             
              
              color: #222222;">{{product.first_name}}, {{product.last_name}}
            <fa-icon style="float: right; margin-right: 7%;" [icon]="['fas', 'ellipsis-v']" slot="end"></fa-icon>  
            </div>
              
              <span style="padding-top: 5%; padding-bottom: 5%;">{{product.email}}</span>
              



            </ion-footer>

          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>