<ion-content ion-padding style="padding: 5% !important;">



  <div class="cover">

    <div class="logo">

    </div>

    <div class="top">
      <span class="bolde">
        Hello!
      </span>
      <p class="graph">
        Please enter your details to sign in
      </p>
    </div>

    <form [formGroup]="formModel">

      <ion-list style="margin-top: 5% !important;">
        <ion-item>

          <ion-label position="floating"> Phone Number</ion-label>
          <ion-input class="form-control" [(ngModel)]="phoneNumber" formControlName="phoneNumber" type="text"
           style="padding-left: 10px !important;" value=""></ion-input>
          <label class="text-danger" *ngIf="formModel.get('phoneNumber').touched && 
            formModel.get('phoneNumber').errors?.required">
            This field is required
          </label>

        </ion-item>
        <ion-item>
          <ion-label position="floating"> Pin</ion-label>

          <ion-input class="form-control" [(ngModel)]="pin" formControlName="pin" [type]="passwordType" pattern="[0-9]*"
            style="padding-left: 10px !important;"></ion-input>
          <ion-icon [name]="passwordShown === true ? 'eye' : 'eye-off' " color="gray" slot="end"
            (click)="togglePassword()"></ion-icon>
          <label class="text-danger" *ngIf="formModel.get('pin').touched && formModel.get('pin').errors?.required">
            This field is required
          </label>
        </ion-item>

        <!-- <div>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label> I agree to the terms and condition</ion-label>
        </div> -->

        <div style="font-size: 70% !important; margin: 4%; float: right; margin-right: 5%; color:  #D02764;">
          Forgot your pin?
        </div>
        <div>
        <ion-button type="button" expand="block" class="sub" (click)="login()">Sign In
          <!-- <ion-spinner style="font-size: 60% !important;" *ngIf="spinner" color="market" name="crescent"></ion-spinner> -->
        </ion-button>
      </div>
        <div style="text-align: center !important; margin-top: 15% !important;">
          Already have an account? <span (click)="signUp()" style="color:  #D02764;">Sign Up</span>
        </div>
      </ion-list>


    </form>
  </div>
</ion-content>